:root {
  --bs-dark-rgba-5: rgba(0, 0, 0, 0.5);
  --bs-dark-rgba-7: rgba(0, 0, 0, 0.7);
  --bs-dark-rgba-8: rgba(0, 0, 0, 0.8);
  --bs-dark-rgba-9: rgba(0, 0, 0, 0.9);
}
img {
  display: inline-block !important;
  object-fit: cover !important;
  min-height: 100% !important;
  max-height: 100% !important;
  image-rendering: optimizequality !important;
}
.header {
  min-height: 100% !important;
  max-height: 1000px !important;
  background: linear-gradient(to bottom right, var(--bs-dark-rgba-8), var(--bs-dark-rgba-8)), url("../images/header-background.jpg") center center no-repeat;
  background-size: cover;
}
.navbar {
  transition: all 0.5s ease-in-out;
}
.navbar.bg-dark {
  background: var(--bs-dark-rgba-9) !important;
}
.header .slide {
  width: 100%;
}
.header .slide .carousel-inner {
  min-height: 423px !important;
}
.header .slide .carousel-item {
  min-height: 423px !important;
  max-height: 423px !important;
}
.header .slide .carousel-item figure {
  min-height: 423px !important;
  max-height: 423px !important;
}
.header .slide .carousel-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bs-dark-rgba-5);
}
.header .slide .carousel-item .carousel-caption {
  z-index: 100;
}
.invitation-bg {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/web_coding.jpg") center center no-repeat;
  background-size: cover;
}

/* Media Queries */
@media (max-width: 992px) {
  .navbar {
    background: var(--bs-dark-rgba-9) !important;
  }
  .header .text-container p {
    width: 100% !important;
    font-size: 16px;
  }
  .header .slide .carousel-item {
    min-height: 423px !important;
    max-height: 423px !important;
  }
  .register {
    padding: 40px 0 !important;
  }
  .register h2 {
    text-align: center;
  }
  .summary {
    margin-top: 0 !important;
    width: 90% !important;
  }
}